# Don't commit piracy
DATA/
Karamari_Hospital/
The_Doll_House/
# Mod stuff
MODS/**
EDITOR/
# I don't want screenshots or saves
screenshot*.png
*.ini
*.log
*.gb1
*.zip
*.7z
*.exe
*.gmk
# Except these
!en_us.ini
!control_preset_pc.ini
!control_preset_xbox.ini
!control_preset_ps.ini
!control_preset_switch.ini
!control_preset_snes.ini
# New mod support!
!MODS/EXAMPLE_MOD/
!RECODE_EDITOR.exe
!RECODE_MOD.exe