# Don't commit piracy
DATA/
Karamari_Hospital/
The_Doll_House/
# Mod stuff
MODS/
# I don't want screenshots or saves
screenshot*.png
*.ini
*.log
*.gb1
*.zip
# Except these ones
!save_ex.ini
!settings.ini
!en_us.ini